<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{% include head.html %}

<body>
  <div class="container">

    <div class="col-sm-3">
      <a href="/">
        <img id="about" src="{{ site.baseurl }}/img/me.png" height="96px" />
      </a><br />

      {% if site.aboutme %}
      <div id="about">
        <h5># about me</h5>
        {{ site.aboutme }}
      </div>
      {% endif %}
      {% if site.vision %}
      <div id="about">
        <h5># vision</h5>
        {{ site.vision }}
      </div>
      {% endif %}
      {% if site.disclaimer %}
      <div id="about">
        <h5># disclaimer</h5>
        {{ site.disclaimer }}
      </div>
      {% endif %}

      <div id="about">
        <h5># Links</h5>
        <a href="https://github.com/{{ site.github }}/articles.chainsquad.com">
          <img src="/img/github.svg" style="width: 12px; float:left" />
          /{{ site.github }}</a>
      </div>

      <!-- Begin Mailchimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup {
          background: #fff;
          clear: left;
          font: 14px Helvetica, Arial, sans-serif;
        }

        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
        We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>

      <div id="about">
        <h5># Subscribe</h5>
        <div id="mc_embed_signup">
          <form
            action="https://chainsquad.us17.list-manage.com/subscribe/post?u=9687c05229471ecd848adefa3&amp;id=7633ebbe8f"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
                  placeholder="email address">
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_9687c05229471ecd848adefa3_7633ebbe8f" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                  class="button"></div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script
          type='text/javascript'>(function ($) {window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday';}(jQuery)); var $mcj = jQuery.noConflict(true);</script>
      </div>
    </div>

    <div class="col-sm-9 col-offset-1">
      <div id="mc_embed_signup">
        <div id="mc_embed_signup_scroll">
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
        </div>
      </div>

      <div class="content-wrapper">
        {{ content }}
      </div>

      {% include footer.html %}

    </div>

  </div>
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/lightbox.js"></script>
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setExcludedReferrers", ["localhost"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
      var u = "//matomo.infra.chainsquad.com/";
      _paq.push(['setTrackerUrl', u + 'matomo.php']);
      _paq.push(['setSiteId', '4']);
      var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
      g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
    })();
  </script>
</body>

</html>
